@* base Template File *@
@(content:Html, title:String)
<!DOCTYPE html>
<html>
<head>
<title>云麒科技 | @title</title>
<link href="@routes.Assets.at("css/bootstrap.css")" rel='stylesheet' type='text/css' />
<!-- Custom Theme files -->
<link href="@routes.Assets.at("css/style.css")" rel="stylesheet" type="text/css" media="all" />
<!-- Custom Theme files -->
<script src="@routes.Assets.at("js/jquery.min.js")"></script>
<!-- Custom Theme files -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Metushi Responsive web template, Bootstrap Web Templates, Flat Web Templates, Andriod Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<!--webfont-->
<link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
 <script type="text/javascript">
		jQuery(document).ready(function($) {
			$(".scroll").click(function(event){		
				event.preventDefault();
				$('html,body').animate({scrollTop:$(this.hash).offset().top},1200);
			});
		});
	</script>
</head>
<body>
	<!-- header-section-starts -->
	<div class="header" id="header">
		<div class="container">
			<div class="logo">
				<a href="index"><img src="@routes.Assets.at("images/mylogo.png")" alt="" /></a>
			</div>
			<div class="social-icons header-social-icons">
				<a href="#"><i class="twitter"></i></a>
				<a href="#"><i class="facebook"></i></a>
				<a href="#"><i class="dribble"></i></a>
				<a href="#"><i class="rss"></i></a>
			</div>
			<div class="clearfix"></div>
		</div>
	</div>
	<div class="header-bottom">
		<div class="container">
			<h3>致力于提供<span>基于云计算的创新型解决方案咨询和技术支持</span></h3>
		</div>
	</div>
	<div class="navigation-strip">
		<div class="container">
			<div class="nav_content">
				<div class="home">
					<a href="index"><img src="@routes.Assets.at("images/home.png")" alt="" /></a>
				</div>
				<div class="search">
					@*<form>
						<input type="text" value="" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Search..';}"/>
						<input type="submit" value="">
					</form>*@
				</div>
			<span class="menu"></span>
				<div class="top-menu">
					<ul>						
						<li><a href="about">关于我们</a></li>
						<li><a href="portfolio">服务简介</a></li>
						<li><a href="blog">博客</a></li>
						@*<li><a href="error404">Features</a></li>*@
						<li><a href="contact">联系我们</a></li>
						<div class="clearfix"></div>
					</ul>
				</div>
				<!-- script for menu -->
				<script>
				$( "span.menu" ).click(function() {
				  $( ".top-menu" ).slideToggle( "slow", function() {
				    // Animation complete.
				  });
				});
			    </script>
			    <!-- script for menu -->
				<div class="clearfix"></div>
			</div>
		</div>
	</div>
	
	@content
	
	<div class="footer">
		<div class="footer-top">
			<div class="container">
				<div class="col-md-4 footer-grid">
					<h5>关于我们</h5>
					<p>寰亚云麒是一家诞生在“云时代”的创新型科技公司，帮助企业开创云上之路是我们的理想。</p>
				</div>
				<div class="col-md-4 footer-grid">
					@*<h5>TWITTER FEED</h5>
					<p>Check out th best Themes online in the world <br>at <a href="mail-to:example@@gmail.com">http://example.com </a></p>
					<span>1 day ago</span>
					<p><a href="#">@@envanto</a>, Motive wordpress theme full responsive is coming soon...</p>
					<span>4 day ago</span>*@
				</div>
				<div class="col-md-4 footer-grid">
					<h5>联系我们</h5>
					<p><a href="mail-to:info@@huanyayunqi.com">info@@huanyayunqi.com</a></p>
					
			<div class="social-icons">
				<a href="#"><i class="twitter"></i></a>
				<a href="#"><i class="facebook"></i></a>
				<a href="#"><i class="dribble"></i></a>
				<a href="#"><i class="rss"></i></a>
			</div>
				</div>
				<div class="clearfix"></div>
			</div>
		</div>
		<div class="footer-bottom">
			<div class="container">
				<div class="copyrights">
					<p>寰亚云麒 &copy; 2015</p>
				</div>
				<div class="go-top">
					<a href="#header" class="scroll"><img src="@routes.Assets.at("images/go-to-top.png")" alt="" /></a>
				</div>
				<div class="clearfix"></div>
			</div>
		</div>
	</div>
</body>
</html>