<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Coming Soon</title>
<link rel="shortcut icon" href="@routes.Assets.at("csp/favicon.ico")" type="image/x-icon" />
<link href="@routes.Assets.at("csp/cspcss/style.css")" rel="stylesheet" type="text/css" />
<link href="@routes.Assets.at("csp/cspcss/960.css")" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.3.2/jquery.min.js"></script> 
<script type="text/javascript" src="@routes.Assets.at("csp/cspjs/cufon-yui.js")"></script>
<script type="text/javascript" src="@routes.Assets.at("csp/cspjs/Adobe_Caslon_Pro_600.font.js")"></script>
<script type="text/javascript">
	Cufon.replace('h1', {fontFamily: 'Adobe Caslon Pro', hover:true})
</script>
</head>
<body>
<div class="container_12" id="content">
	<h1>Super Awesome Company</h1>
	<h3>我们的网站还在建设当中，你可以......</h3>
	<div class="main">
		<div class="mcontent">
			<div class="box mr20">
				<h2>联系我们</h2>
				<p>Phone : 0951-1234567<br/>
Email : <a href="#">info@@huanyayunqi.com</a></p>
			</div>
			<div class="box mr20">
				<h2>访问我们</h2>
				<p>1234 S BLVD Lane. Suite 3000
Miami Beach, Florida 33109</p>
				<a class="get" href="#">Get Directions</a>
			</div>
			@*<div class="box2">
				<h2>Follow us</h2>
				<a href="#"><img src="@routes.Assets.at("csp/cspimages/t.png")" alt=""/></a>
				<a href="#"><img src="@routes.Assets.at("csp/cspimages/f.png")" alt=""/></a>				
			</div>*@
		</div>
	</div>
</div>
</body>
</html>
