<div class="content">
		<div class="container">
			<div class="projects-section">
				<h4 class="head">LATEST PROJECTS<span class="line"></span></h4>				
				<div class="latest-projects">
					<div class="col-md-3 project">
						<a href="single"><img src="@routes.Assets.at("images/p1.jpg")" alt="" /></a>
					</div>
					<div class="col-md-3 project">
						<a href="single"><img src="@routes.Assets.at("images/p2.jpg")" alt="" /></a>
					</div>
					<div class="col-md-3 project">
						<a href="single"><img src="@routes.Assets.at("images/testpics/ha_ed_getting-started_red.png")" alt="" /></a>
					</div>
					<div class="col-md-3 project">
						<a href="single"><img src="@routes.Assets.at("images/p3.jpg")" alt="" /></a>
					</div>
					
					@*<div class="col-md-3 project">
						<a href="single"><img src="@routes.Assets.at("images/p4.jpg")" alt="" /></a>
					</div>
					<div class="col-md-3 project">
						<a href="single"><img src="@routes.Assets.at("images/p5.jpg")" alt="" /></a>
					</div>
					<div class="col-md-3 project">
						<a href="single"><img src="@routes.Assets.at("images/p6.jpg")" alt="" /></a>
					</div>
					<div class="col-md-3 project">
						<a href="single"><img src="@routes.Assets.at("images/p7.jpg")" alt="" /></a>
					</div>
					<div class="col-md-3 project">
						<a href="single"><img src="@routes.Assets.at("images/p8.jpg")" alt="" /></a>
					</div>*@
					<div class="clearfix"></div>
				</div>
			</div>
			@*
			<div class="blog-section">
				<h4 class="head">BLOG POSTS<span class="line"></span></h4>		
				<div class="blog-post-grids">
					<div class="col-md-4 blog-posts">
						<div class="blog-post">
							<a href="single"><img src="@routes.Assets.at("images/b1.jpg")"></a>
							<a href="single" class="blog-title">This is blog post title</a>
							<p class="sub_head">Posted by <a href="#">Admin</a> on 12/04/2014</p>
							<span></span>
							<p>Phasellus in tincidunt velit. Etiam fermentum fringilla tristique. Aenean posuere aliquam interdum. Sed dignissim turpis eget leo ultricies ultricies. Sed et felis leo, eget dapibus massa. Etiam volutpat vehicula dolor, vel placerat odio posuere non.</p>
						</div>	
						<div class="blog-post">
							<a href="single"><img src="@routes.Assets.at("images/b2.jpg")"></a>
							<a href="single" class="blog-title">This is blog post title</a>
							<p class="sub_head">Posted by <a href="#">Admin</a> on 12/04/2014</p>
							<span></span>
							<p>Fusce placerat bibendum augue, non posuere lorem facilisis sit amet. Mauris malesuada nunc eget est pellentesque sit amet aliquet dolor pharetra. Integer placerat elit quis nisl dignissim non consectetur quam vestibulum. Suspendisse tincidunt adipiscing magna, ut dapibus nulla varius nec. Proin mi dolor, dapibus nec congue posuere, ornare sit.</p>
						</div>	
					</div>
					<div class="col-md-4 blog-posts">
						<div class="blog-post">
							<a href="single"><img src="@routes.Assets.at("images/b3.jpg")"></a>
							<a href="single" class="blog-title">This is blog post title</a>
							<p class="sub_head">Posted by <a href="#">Admin</a> on 12/04/2014</p>
							<span></span>
							<p>Phasellus in tincidunt velit. Etiam fermentum fringilla tristique. Aenean posuere aliquam interdum. Sed dignissim turpis eget leo ultricies ultricies. </p>
						</div>	
						<div class="blog-post">
							<a href="single"><img src="@routes.Assets.at("images/b1.jpg")"></a>
							<a href="single" class="blog-title">This is blog post title</a>
							<p class="sub_head">Posted by <a href="#">Admin</a> on 12/04/2014</p>
							<span></span>
							<p>Phasellus in tincidunt velit. Etiam fermentum fringilla tristique. Aenean posuere aliquam interdum. Sed dignissim turpis eget leo ultricies ultricies. Sed et felis leo, eget dapibus massa. Etiam volutpat vehicula dolor, vel placerat odio posuere non.</p>
						</div>	
					</div>
					<div class="col-md-4 blog-posts span_66">
						<div class="blog-post">
							<a href="single"><img src="@routes.Assets.at("images/b2.jpg")"></a>
							<a href="single" class="blog-title">This is blog post title</a>
							<p class="sub_head">Posted by <a href="#">Admin</a> on 12/04/2014</p>
							<span></span>
							<p>Fusce placerat bibendum augue, non posuere lorem facilisis sit amet. Mauris malesuada nunc eget est pellentesque sit amet aliquet dolor pharetra. Integer placerat elit quis nisl dignissim non consectetur quam vestibulum. Suspendisse tincidunt adipiscing magna, ut dapibus nulla varius nec. Proin mi dolor, dapibus nec congue posuere, ornare sit. </p>
						</div>	
						<div class="blog-post">
							<a href="single"><img src="@routes.Assets.at("images/b3.jpg")"></a>
							<a href="single" class="blog-title">This is blog post title</a>
							<p class="sub_head">Posted by <a href="#">Admin</a> on 12/04/2014</p>
							<span></span>
							<p>Phasellus in tincidunt velit. Etiam fermentum fringilla tristique. Aenean posuere aliquam interdum. Sed dignissim turpis eget leo ultricies ultricies. </p>
						</div>	
					</div>
					<div class="clearfix"></div>
				</div>
			</div>*@
				<!---/start-text-slider----->
				<div class="testimonials">
			<h4>名 家 荐 言</h4>
		<div id="testimonials">
			 <div class="wmuSlider example1">
		 	<div class="container-flueid">
				 <article style="position: absolute;"> 
				   	<div class=" cont span_2_of_3  client-main">
							<div class="slide-text">
								<p>So, if you ask yourself: Why are these old-guard technology companies so desperately trying to get you to buy the private cloud? Why? And I think the answer is the economics of what we are doing are extremely disruptive for old-guard technology companies. These are companies that have lived on 60 to 80 percent gross margins, for many, many years.</p>
						  		<a href="#">by Andy Jassy</a>
								<div class="clearfix"></div>								
						 	</div> 
					</div>
				 </article>
				 <article style="position: absolute;"> 
				   	<div class=" cont span_2_of_3  client-main">
							<div class="slide-text">
								<p>站在“互联网+”的风口上顺势而为，会使中国经济飞起来。</p>
						  		<a href="#">by 李克强</a>	
								<div class="clearfix"></div>
						 	</div> 
					</div>
				 </article>
				 <article style="position: absolute;"> 
				   	<div class=" cont span_2_of_3  client-main">
							<div class="slide-text">
								<p>IT不能够成为企业在市场中树立自己的差异性的一个差异化因素，真正实现差异化的应该是如何使用云计算，让云帮助企业把财务的资源、智力的资源聚焦于打造最优秀、出色的产品.</p>
						  		<a href="#">by Werner Vogel</a>
								<div class="clearfix"></div>
						 	</div> 
					</div>
				 </article>
				 @*<article style="position: absolute;"> 
				   	<div class=" cont span_2_of_3  client-main">
							<div class="slide-text">
								<p>Praesent pulvinar, est eget pharetra euismod, metus felis condimentum massa, ut vestibulum ipsum risus vel ligula. In hac habitasse platea dictumst.</p>
						  		<a href="#">by Esmet Hajrizi</a>
								<div class="clearfix"></div>
						 	</div> 
					</div>
				 </article>	 *@
                  <script src="@routes.Assets.at("js/jquery.wmuSlider.js")"></script> 
					<script>
       				     $('.example1').wmuSlider();         
   					</script> 	
						<div class="clearfix"></div>
	         </div>
	     </div>
		 <div class="arrow">
			<div class="shows">
				<span class="a1"><img src="@routes.Assets.at("images/tes.png")" alt="" /></span>
			</div>
		 </div>
	 <!---//text-slider----->

			</div>
		</div>
		</div>
	</div>