<div class="content">
		<div class="container">
			<div class="blog-posts-section">		
				<!-- head-section -->
					<div class="head-section text-center">
						<h2>blog posts</h2>
						<span> </span>
					</div>
					<!-- /head-section -->	
				<div class="blog-post-grids blog_grids">
					<div class="col-md-4 blog-posts">
						<div class="blog-post">
							<a href="single"><img src="@routes.Assets.at("images/b1.jpg")"></a>
							<a href="single" class="blog-title">This is blog post title</a>
							<p class="sub_head">Posted by <a href="#">Admin</a> on 12/04/2014</p>
							<span></span>
							<p>Phasellus in tincidunt velit. Etiam fermentum fringilla tristique. Aenean posuere aliquam interdum. Sed dignissim turpis eget leo ultricies ultricies. Sed et felis leo, eget dapibus massa. Etiam volutpat vehicula dolor, vel placerat odio posuere non.</p>
						</div>	
						<div class="blog-post">
							<a href="single"><img src="@routes.Assets.at("images/b2.jpg")"></a>
							<a href="single" class="blog-title">This is blog post title</a>
							<p class="sub_head">Posted by <a href="#">Admin</a> on 12/04/2014</p>
							<span></span>
							<p>Fusce placerat bibendum augue, non posuere lorem facilisis sit amet. Mauris malesuada nunc eget est pellentesque sit amet aliquet dolor pharetra. Integer placerat elit quis nisl dignissim non consectetur quam vestibulum. Suspendisse tincidunt adipiscing magna, ut dapibus nulla varius nec. Proin mi dolor, dapibus nec congue posuere, ornare sit.</p>
						</div>	
						<div class="blog-post">
							<a href="single"><img src="@routes.Assets.at("images/p5.jpg")"></a>
							<a href="single" class="blog-title">This is blog post title</a>
							<p class="sub_head">Posted by <a href="#">Admin</a> on 12/04/2014</p>
							<span></span>
							<p>Phasellus in tincidunt velit. Etiam fermentum fringilla tristique. Aenean posuere aliquam interdum. Sed dignissim turpis eget leo ultricies ultricies. </p>
						</div>
					</div>
					<div class="col-md-4 blog-posts">
						<div class="blog-post">
							<a href="single"><img src="@routes.Assets.at("images/b3.jpg")"></a>
							<a href="single" class="blog-title">This is blog post title</a>
							<p class="sub_head">Posted by <a href="#">Admin</a> on 12/04/2014</p>
							<span></span>
							<p>Phasellus in tincidunt velit. Etiam fermentum fringilla tristique. Aenean posuere aliquam interdum. Sed dignissim turpis eget leo ultricies ultricies. </p>
						</div>	
						<div class="blog-post">
							<a href="single"><img src="@routes.Assets.at("images/b1.jpg")"></a>
							<a href="single" class="blog-title">This is blog post title</a>
							<p class="sub_head">Posted by <a href="#">Admin</a> on 12/04/2014</p>
							<span></span>
							<p>Phasellus in tincidunt velit. Etiam fermentum fringilla tristique. Aenean posuere aliquam interdum. Sed dignissim turpis eget leo ultricies ultricies. Sed et felis leo, eget dapibus massa. Etiam volutpat vehicula dolor, vel placerat odio posuere non.</p>
						</div>	
						<div class="blog-post">
							<a href="single"><img src="@routes.Assets.at("images/p4.jpg")"></a>
							<a href="single" class="blog-title">This is blog post title</a>
							<p class="sub_head">Posted by <a href="#">Admin</a>on 12/04/2014</p>
							<span></span>
							<p>Fusce placerat bibendum augue, non posuere lorem facilisis sit amet. Mauris malesuada nunc eget est pellentesque sit amet aliquet dolor pharetra. Integer placerat elit quis nisl dignissim non consectetur quam vestibulum. Suspendisse tincidunt adipiscing magna, ut dapibus nulla varius nec. Proin mi dolor, dapibus nec congue posuere, ornare sit. </p>
						</div>	
					</div>
					<div class="col-md-4 blog-posts span_66">
						<div class="blog-post">
							<a href="single"><img src="@routes.Assets.at("images/p6.jpg")"></a>
							<a href="single" class="blog-title">This is blog post title</a>
							<p class="sub_head">Posted by <a href="#">Admin</a> on 12/04/2014</p>
							<span></span>
							<p>Phasellus in tincidunt velit. Etiam fermentum fringilla tristique. Aenean posuere aliquam interdum. Sed dignissim turpis eget leo ultricies ultricies. Sed et felis leo, eget dapibus massa. Etiam volutpat vehicula dolor, vel placerat odio posuere non.</p>
						</div>	
						<div class="blog-post">
							<a href="single"><img src="@routes.Assets.at("images/b2.jpg")"></a>
							<a href="single" class="blog-title">This is blog post title</a>
							<p class="sub_head">Posted by <a href="#">Admin</a> on 12/04/2014</p>
							<span></span>
							<p>Fusce placerat bibendum augue, non posuere lorem facilisis sit amet. Mauris malesuada nunc eget est pellentesque sit amet aliquet dolor pharetra. Integer placerat elit quis nisl dignissim non consectetur quam vestibulum. Suspendisse tincidunt adipiscing magna, ut dapibus nulla varius nec. Proin mi dolor, dapibus nec congue posuere, ornare sit. </p>
						</div>	
						<div class="blog-post">
							<a href="single"><img src="@routes.Assets.at("images/b3.jpg")"></a>
							<a href="single" class="blog-title">This is blog post title</a>
							<p class="sub_head">Posted by <a href="#">Admin</a> on 12/04/2014</p>
							<span></span>
							<p>Phasellus in tincidunt velit. Etiam fermentum fringilla tristique. Aenean posuere aliquam interdum. Sed dignissim turpis eget leo ultricies ultricies. </p>
						</div>	
					</div>
					<div class="clearfix"></div>
					<div class="right_column">
						<div class="item">
							<header>
								<h2 class="with-line">Categories</h2>
							</header>
							<ul>
								<li><a href="#">Penatibus et magnis dis part urient mon</a></li>
								<li><a href="#">Nascetur ridiculus mus nulla dui fusce </a></li>
								<li><a href="#">Malesuada odio morbi nunc odio gravid</a></li>
								<li><a href="#">Cursus nec luctus a lorem mauris accu</a></li>
								<li><a href="#">Lacus ediscng aliqin pdeiquetsit amet </a></li>
								<li><a href="#">Ut liguliquam dapibus tincidturent justo</a></li>
								<li><a href="#">Loboeittis euisr piciatis unde omnis iste</a></li>
								<li><a href="#">Errorptatem accusantium doloremen emq</a></li>
								<li><a href="#">Laudantium totam remeaque ipsa quae</a></li>
								<li><a href="#">Si architecto beatae vitae dicta sunt exp</a></li>
							</ul>
						</div>
						<div class="item2">
							<header>
								<h2 class="with-line">Archives</h2>
							</header>
							<ul>
								<li><a href="#">February 2014</a></li>
								<li><a href="#">January 2014</a></li>
								<li><a href="#">December 2013</a></li>
								<li><a href="#">November 2013</a></li>
								<li><a href="#">October 2013</a></li>
								<li><a href="#">September 2013</a></li>
								<li><a href="#">August 2013</a></li>
								<li><a href="#">July 2013</a></li>
							</ul>
						</div>
						<div class="clearfix"></div>
					</div>
				</div>
			<div class="pagination text-center">
				<ul>
					<li><a class="prev" href="#">Prev</a></li>
					<li><a href="#">1</a></li>
					<li><a href="#">2</a></li>
					<li><a href="#">3</a></li>
					<li><a href="#">4</a></li>
					<li><a href="#">5</a></li>
					<li><a href="#">6</a></li>
					<li><a href="#">7</a></li>
					<li><a href="#">8</a></li>
					<li><span>.....</span></li>
					<li><a href="#">12</a></li>
					<li><a href="#" class="next">Next</a></li>
				</ul>
			</div>
			</div>
		</div>
	</div>